body {
    text-align: center;
}
.instructions{
margin-top: 48px;
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(240,136,9,1) 51%);
font-size: 14px;
padding: 4% 6% 1%;
text-shadow: 1px 2px 3px #666;
color: #fff
}

.keys{
    padding: 2px 0px 10px 20%;
}